<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocke.development.HmtlEcopro2015" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera"
                     android:required="true" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/eco_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.rocke.development.HmtlEcopro2015.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.DesaMitra"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.Lomba"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.Exhibition"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.Seminar1"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.Seminar2"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.Seminar3"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.rocke.development.HmtlEcopro2015.ImagePreview"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
